# This workflow will build a Java project with Maven, and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-maven

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: CICD pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  compile:

    runs-on: self-hosted

    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven
    - name: Build with Maven
      run: mvn compile

  security-check:

      runs-on: self-hosted
      needs: compile
      
      steps:
      - uses: actions/checkout@v4
      - name: Trivy Installation
        run: |
          sudo apt-get install wget gnupg
          wget -qO - https://aquasecurity.github.io/trivy-repo/deb/public.key | gpg --dearmor | sudo tee /usr/share/keyrings/trivy.gpg > /dev/null
          echo "deb [signed-by=/usr/share/keyrings/trivy.gpg] https://aquasecurity.github.io/trivy-repo/deb generic main" | sudo tee -a /etc/apt/sources.list.d/trivy.list
          sudo apt-get update -y
          sudo apt-get install trivy -y

      - name: Trivy Fs Scan
        run: trivy fs --format table -o fs-report.json .

      - name: Install gitleaks (binary)
        run: |
          set -e
          ARCH=$(uname -m)
          if [[ "$ARCH" == "x86_64" || "$ARCH" == "amd64" ]]; then BIN="gitleaks-linux-amd64"; fi
          if [[ "$ARCH" == "aarch64" || "$ARCH" == "arm64" ]]; then BIN="gitleaks-linux-arm64"; fi
          curl -fSL "https://github.com/zricethezav/gitleaks/releases/latest/download/${BIN}" -o /tmp/gitleaks
          sudo install -m 0755 /tmp/gitleaks /usr/local/bin/gitleaks
      
      - name: Gitleaks Code Scan
        run: /usr/local/bin/gitleaks detect source . -r gitleaks-report.json -f json
